@charset "utf-8";
@import url('reset.css');

body,
html,
#wrap {
    height: 100%
}

.row {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px
}

.header-outer {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    z-index: 99999;
    transition: all 0.5s;
}

#header {
    position: relative;
    height: 116px
}

#header h1 {
    padding-top: 40px
}

#header .open-gnb {
    display: none
}

#header .nav {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

#header .nav .depth1>li {
    display: inline-block
}

#header .nav .depth1>li>a {
    font-size: 18px;
    color: #fff;
    padding: 0px 30px;
}

#header .nav .depth1>li.on>a {
    text-decoration: underline
}

.outlayer {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.outlayer.on {
    display: block
}

/* 슬라이드 : 첫번째 section */
.section-outer {
    height: 100%
}

.section-outer .section {
    height: 100%
}

.section-outer .section:nth-child(1) .slide-outer {
    height: 100%
}

.section-outer .section:nth-child(1) .slide-inner {
    height: 100%;
}

.section-outer .section:nth-child(1) .slide {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.section-outer .section:nth-child(1) .slide1 {
    background-image: url(../img/mainslide01.jpg)
}

.section-outer .section:nth-child(1) .slide2 {
    background-image: url(../img/mainslide02.jpg)
}

.section-outer .section:nth-child(1) .slide3 {
    background-image: url(../img/mainslide03.jpg)
}

/* 화살표 버튼 */
.slide-outer {
    position: relative
}

.slide-outer .marrow {
    font-size: 80px;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
}

.slide-outer .prevArrow {
    left: 10%;
    z-index: 999
}

.slide-outer .nextArrow {
    right: 10%
}

/* 동그라미 버튼 */
/* .slide-outer .slick-dots { 
    position:absolute; bottom:20px; width:100%;
    text-align:center }
.slide-outer .slick-dots li {
    display:inline-block; }    
.slide-outer .slick-dots li button {
    width:15px; height:15px; border-radius:50%;
    background:#fff; text-indent:-99999px;
    overflow:hidden; margin:0 5px; 
}
.slide-outer .slick-dots li.slick-active button { 
    background:#f00; width:40px; 
    border-radius:50px
} */

/* 막대(bar)버튼 애니메이션 */
.slide-outer .slick-dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center
}

.slide-outer .slick-dots li {
    display: inline-block;
    width: 100px;
    height: 3px;
    background: #777;
    margin: 0 5px;
    position: relative;
}

.slide-outer .slick-dots li button {
    width: 0%;
    height: 3px;
    background: #777;
    text-indent: -99999px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.slide-outer .slick-dots li.slick-active button {
    background: #000;
    animation: progressbar 4.5s both;
}

@keyframes progressbar {
    0% {
        width: 0%
    }

    100% {
        width: 100%
    }
}

/* 슬라이드 자동재생/멈춤 버튼 */
.slide-outer .plpa {
    font-size: 15px;
    color: #fff;
    background: none;
    position: absolute;
    bottom: 17.5px;
    left: 50%;
    margin-left: 180px;
}

/* 슬라이드 위에 텍스트박스 애니메이션 */
.slide-outer .slide .text {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    opacity: 0;
}

.slide-outer .slide.slick-active .text {
    opacity: 1;
}

.slide-outer .slide .text p:nth-child(1) {
    font-size: 3.75vw;
    text-shadow: 2px 2px 5px #555;
    border-bottom: 1px solid #999;
    padding-bottom: 10px;
    max-width: 600px;
    margin: 0 auto;
}

.slide-outer .slide .text p:nth-child(2) {
    font-size: 20px;
    margin-top: 20px;
    letter-spacing: 6px;
}

.slide-outer .slide .text p:nth-child(3) {
    font-size: 20px;
    letter-spacing: 3px;
    /* position:relative; top:150px;  */
}

/* 애니메이션 연결 */
.slide-outer .slide.slick-active .text p:nth-child(1) {
    animation: bounceInDown 1s both 0.5s
}

.slide-outer .slide.slick-active .text p:nth-child(2) {
    animation: bounceInUp 1s both 1s
}

.slide-outer .slide.slick-active .text p:nth-child(3) {
    animation: fadeInRight 1s both 1.5s
}


/* 포트폴리오 갤러리 : 두번째 section */
/* .portfolio h2 { font-size:3.75vw; text-align:center;
    padding:25px 0px; } */
.section:nth-child(2),
.section:nth-child(3),
.section:nth-child(4) {
    padding-top: 116px;
}

.portfolio,
ul.gallery {
    height: 100%;
}

.portfolio ul.gallery li {
    float: left;
    width: 25%;
    height: 47%;
    overflow: hidden;
    padding: 10px 10px 0px;
    margin-bottom: 10px
}

/* 갤러리 팝업박스 */
.portfolio .galleryPopup {
    opacity: 0;
    position: fixed;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999999;
    transition: all 0.5s;
    overflow: hidden;
}

.portfolio .galleryPopup.on {
    opacity: 1;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    overflow: visible;
}

.galleryPopup .popupList {
    position: absolute;
    top: 50%;
    left: 35%;
    right: 35%;
    transform: translateY(-50%);
    text-align: center;
}

.galleryPopup .popupList .close {
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 40px;
    color: #fff;
    background: none;
    cursor: pointer;
}

.galleryPopup .popupList .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    color: #fff;
    background: none;
    cursor: pointer;
}

.galleryPopup .popupList .prev {
    left: -40px
}

.galleryPopup .popupList .next {
    right: -40px
}


/* slide2 */
.slide-outer2 {
    margin: 30px auto
}

.slide-outer2 img {
    width: 100%;
    padding: 0 10px
}

.slide-outer2 .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 50px;
    color: #999;
}

.slide-outer2 .prev {
    left: -30px;
    z-index: 99999999
}

.slide-outer2 .next {
    right: -30px
}

.slide-outer2 .slick-slide {
    /* 슬릭슬라이더 안에 있는 모든 슬라이드 */
    opacity: 0.6;
    transform: scale(0.85);
    transition: all 0.5s;
}

.slide-outer2 .slick-slide.slick-active {
    /* 무대 공간에 보여지는  슬라이드, slidesToShow */
    opacity: 1;
}

.slide-outer2 .slick-slide.slick-active.slick-current {
    /* 무대 중앙에 있는 슬라이드 하나 */
    transform: scale(1);
}




/* slide3 */
.section-outer .section:nth-child(3) {
    background: #efefef;
    padding-top: 200px;
}

.skillContainer {
    height: 100%;
    /* text-align: center; */
    text-align: left;
}

.skillContainer p {
    font-size: 20px; font-weight: bold;
    padding-left: 10px;
}

.skillContainer > div  {
    /* height: 50px;  */
    width: 100%;
    /* display: inline-block; */
    vertical-align: top;
}

.skillContainer .score {
    /* display: inline-block; */
    height: 50px; width: 100%;
    position: relative;
    margin: 10px 0px 50px;
    color: #fff;
}

.skillContainer .myscore {
    height: 50px; width: 0%; line-height: 50px;
    /* position: absolute; bottom: 0px; left: 0px; */
    font-size: 20px;
    /* padding-top: 10px; */
    padding-right: 10px;
    background: pink;
    opacity: 0;
    text-align: right; 
    display: inline-block;
    border-top-left-radius: 50px; border-bottom-left-radius: 50px;
}
.skillContainer .html .myscore {
    background: #cacaaa;
    animation: htmlscore 1s both;
}
.skillContainer .css .myscore {
    background: #eec584;
    animation: cssscore 1s both 0.5s;
}
.skillContainer .js .myscore {
    background: #c8ab83;
    animation: jsscore 1s both 1s;
}
.skillContainer .jq .myscore {
    background: #55868c;
    animation: jqscore 1s both 1.5s;
}
.skillContainer .react .myscore {
    background: #7f636e;
    animation: reactscore 1s both 2s;
}

@keyframes htmlscore {
    0% {
        width: 0%;
    }
    100% {
        width: 90%; 
        opacity: 1;
    }
}
@keyframes cssscore {
    0% {
        width: 0%;
    }
    100% {
        width: 85%; 
        opacity: 1;
    }
}
@keyframes jsscore {
    0% {
        width: 0%;
    }
    100% {
        width: 80%; 
        opacity: 1;
    }
}
@keyframes jqscore {
    0% {
        width: 0%;
    }
    100% {
        width: 85%; 
        opacity: 1;
    }
}
@keyframes reactscore {
    0% {
        width: 0%;
    }
    100% {
        width: 50%; 
        opacity: 1;
    }
}






.section-outer .section:nth-child(4) {
    background: violet
}

.gotop {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9999999999;
    opacity: 0;
    /* 제이쿼리에서 직접 애니메이션을 위해서 display:none값과 opacity: 0값을 살리고
    .on이 붙은 쪽에는 opacity값이 필요없음 */
}

.gotop.on {
    display: block;
    /* opacity: 1; */
}

.gotop img {
    width: 70px;
    cursor: pointer;
}